<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        footer {
            background-color: black;   
            height: 50px;    
            width: 100%;                        
            position: relative;
            color: aliceblue;
            text-align: center;
            line-height: 50px;
        }
        .content {
            flex: 1;
        }
    </style>
</head>
<body>    
    <div class="content"></div>    
    <footer>
        <p>&copy; Nguyen Thanh Mai</p>
    </footer>
</body>
</html>
